



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li img{
  width: 20%;
}

li img:hover {
  opacity: 0.6;
  /*width: 21%;*/
}


/*li img:hover {
    background:#fff url(images/bg.png) no-repeat 0 -20px;
}*/

/*
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}*/
/*
li img:hover {
    background-color: #111111;
}*/
