<nav class="navbar navbar-default my-nav">
  <div class="container-fluid">
    <div class="navbar-header">
    {{#link-to 'index' class="my-logo navbar-brand"}}<h2>MOVIES</h2>{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="my-nav-item">{{link-to '// Graduates' 'graduates'}}</li> -->
      </ul>
    </div>
  </div>
</nav>


{{outlet}}

<footer class="hidden-xs">
    <p class="pull-left">&copy; Copyright 2014. Rebound.</p>
</footer>
